*{margin: 0; padding: 0; box-sizing: border-box;}
#conteudo p{
    opacity: 0.2;
}
#conteudo{
    background-color: red;
    width: 300px;
    padding: 20px;
    /*box-shadow: 10px 10px 5px green;*/
    height: 50px;
    overflow: hidden;
}

#conteudo-2{
    background-color: fuchsia;
    width: 300px;
    padding: 20px;
    /*box-shadow: 10px 10px 5px blue;*/
    overflow: scroll;
}